body {
    background-color: rgb(214, 247, 236);
}
.App {
    margin: 50px;
}

.year {
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    width: 130px;
}

.month {
    text-align: center; 
    font-size: 20px;
}

.month-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

thead {
    background-color: aqua;
}

button {
    background-color: rgb(107, 107, 214);
    color: aliceblue;
    font-weight: 600;
}

table {
    margin: 0 auto;
    
}