.App {
    margin: 50px;
}

.year, .month, table {
    text-align: center;
    margin: 0 auto;
}

.year, .month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    width: 130px;
}

thead {
    background-color: aqua;
}

button {
    background-color: rgb(107, 107, 214);
    color: aliceblue;
    font-weight: 600;
}